<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<link rel="shortcut icon" href="images/content/favicon.ico" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="" />
<meta name="description" content="" />
<title>Lighthouse</title>
<link rel="shortcut icon" href="images/content/favicon.ico" />
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/inner.css" rel="stylesheet" type="text/css" />
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/PT_Sans_400.font.js"></script>
<script type="text/javascript">
	 Cufon.replace('h1') ('h2') ('h3') ('h4') ('h5') ('h6') ('.slider-button a') ('.slider-price') ('.button') ('#nav li a', {hover: true});
</script>

<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script> 
<script type="text/javascript"> 
 var $jts = jQuery.noConflict();
    $jts(document).ready(function(){ 
        $jts("ul.sf-menu").supersubs({ 
		minWidth		: 9,		// requires em unit.
		maxWidth		: 25,		// requires em unit.
		extraWidth		: 0			// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
                               // due to slight rounding differences and font-family 
        }).superfish();  // call supersubs first, then superfish, so that subs are 
                         // not display:none when measuring. Call before initialising 
                         // containing tabs for same reason. 						 
    }); 
 
</script>
<script type="text/javascript" src="js/contact.js"></script>

<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('img');
</script>

<![endif]--> 
</head>
<body>
<script type="text/javascript"> Cufon.now(); </script> <!-- to fix cufon problems in IE browser -->
	<div id="top-container">
		<div class="centercolumn">
		<div id="header">
			<div id="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div><!-- end #logo -->
			<div id="navigation">
				<ul id="nav" class="sf-menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html">About</a>
						<ul>
							<li><a href="styling.html">HTML Styling</a></li>
							<li><a href="column.html">Column Layouts</a></li>
							<li><a href="#">Example Dropdown</a>
								<ul>
									<li><a href="#">More Menu</a></li>
									<li><a href="#">More Menu</a></li>
									<li><a href="#">More Menu</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">Property</a>
						<ul>
							<li><a href="property-list.html">Property List</a></li>
							<li><a href="property-grid.html">Property Grid</a></li>
							<li><a href="property-details.html">Property Details</a></li>
						</ul>
					</li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html" class="current">Contact</a></li>
				</ul>
			</div><!-- end #navigation-->
			<div class="clr"></div>
		</div><!-- end #header -->
		</div><!-- end #centercolumn -->
	</div><!-- end #top-container -->
	
	
	<div class="centercolumn">
			
		<div id="maincontent">
			<div id="content" class="full">
			<h2 class="underline">Our Location</h2>
				<ul class="three_column">
					<li>
						<span class="blue"><strong>Indonesia</strong></span><br />
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula velit. Etiam odio quam, lobortis eget porttitor nec, congue in lacus. In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo. </p>
						<div class="clear"></div>
					</li>
					<li>
						<span class="blue"><strong>America</strong></span><br />
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula velit. Etiam odio quam, lobortis eget porttitor nec, congue in lacus. In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo. </p>
						<div class="clear"></div>
					</li>
					<li class="nomargin">
						<span class="blue"><strong>Singapore</strong></span><br />
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis ligula velit. Etiam odio quam, lobortis eget porttitor nec, congue in lacus. In venenatis neque a eros laoreet eu placerat erat suscipit. Fusce cursus, erat ut scelerisque condimentum, quam odio ultrices leo. </p>
						<div class="clear"></div>
					</li>
				</ul>
				<p>&nbsp;</p>
				<div class="one_third">
					<div class="sidebar">
					<ul>
						<li class="widget-container">
							<h2 class="widget-title">Postal Address</h2>
							<div class="bg_gray">
							<img src="images/content/img3.jpg" alt=""  /><br /><br />

							<p><span class="blue"><strong>Brand Office</strong></span><br/>
							Light House Office<br />
							1234 Address City. TS 5678<br />
							City, Country</p>
							<ul class="inline">
								<li><span class="left">Telephone:</span> 0800-123456 </li>
								<li><span class="left">Faximillie:</span> 0800-123457 </li>
								<li><span class="left">Email:</span> <a href="mailto:testmail@templatesquare.com" class="mail">testmail@templatesquare.com</a></li>
							</ul>
							
							</div><!-- end .bg_gray -->
						</li>
					</ul>
					</div>
				</div>
				<div class="one_third">
					<div class="sidebar">
					<ul>
						<li class="widget-container">
							<h2 class="widget-title">How to Find Us</h2>
							<div class="bg_gray">
								<div id="contactform">
								  <form id="contact" action="">
									<fieldset>
									  <input type="text" name="name" id="name" size="30" value="Your Name" onblur="if (this.value == ''){this.value = 'Your Name'; }" onfocus="if (this.value == 'Your Name') {this.value = ''; }" class="text-input" />
									  <input type="text" name="email" id="email" size="30" value="Your Email" onblur="if (this.value == ''){this.value = 'Your Email'; }" onfocus="if (this.value == 'Your Email') {this.value = ''; }" class="text-input" />	

									 <textarea cols="" rows="" name="msg" id="msg">Your Message</textarea>
									 <span class="error" id="name_error">Please enter name !</span>
									  <span class="error" id="email_error">Please enter email address !</span>
									  <span class="error" id="email_error2">Please enter valid email address !</span>
									  <span class="error" id="msg_error">Please enter comment !</span>
									 <input type="submit" name="submit" class="button" id="submit_btn" value="submit"/>
									</fieldset>
								  </form>
								</div><!-- end #contactform -->
							</div><!-- end .bg_gray -->
						</li>
					</ul>
					</div>
				</div>
				<div class="one_third last">
					<div class="sidebar">
					<ul>
						<li class="widget-container">
							<h2 class="widget-title">How to Find Us</h2>
							<div class="bg_gray">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sodales, felis non sollicitudin elementum, turpis risus pellentesque risus, et lobortis ipsum ante vel nunc. </p>
							<p>Sed mollis venenatis quam et dignissim. Curabitur non orci nibh, a commodo eros. Mauris ut ipsum massa. Maecenas nec velit tellus, id semper lectus. Sed ut risus vel justo malesuada rutrum. </p>
							<p>Aliquam accumsan posuere lorem, nec mollis massa venenatis sit amet. Sed mi est, hendrerit eget rutrum in, aliquam sit amet diam. </p>
							</div><!-- end .bg_gray -->
						</li>
					</ul>
					</div>
				</div><!-- end .one_third last -->
				
			</div><!-- end #content -->
			<div class="clear"></div>
		</div><!-- end #maincontent -->
	</div><!-- end #centercolumn -->
	
	
	<div id="bottom-container">
		<div class="centercolumn">
		
			<div id="footer">
				<div id="footer-left">
					<div class="one_fourth">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">Company</h2>
								<ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Clients</a></li>
									<li><a href="#">Presentation</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
					<div class="one_fourth">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">For Clients</h2>
								<ul>
									<li><a href="#">Sign Up </a></li>
									<li><a href="#">Forum</a></li>
									<li><a href="#">Promitions</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
					<div class="one_fourth">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">FAQs</h2>
								<ul>
									<li><a href="#">Support </a></li>
									<li><a href="#">FAQs</a></li>
									<li><a href="#">Website</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
					<div class="one_fourth last">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">Properties</h2>
								<ul>
									<li><a href="#">Luxury</a></li>
									<li><a href="#">Residental</a></li>
									<li><a href="#">Commercial</a></li>
									<li><a href="#">Hometown</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
				</div><!-- end #footer-left -->
				<div id="footer-right">
							<h2>NewsLetter Sign Up:</h2>
							<form  method="get" action="" id="newsLetter">
							<div><input type="text" class="inputbox" value="Enter your email here..." onblur="if (this.value == ''){this.value = 'Enter your email here...'; }" onfocus="if (this.value == 'Enter your email here...') {this.value = ''; }"/><br />
<input type="submit" name="submit" class="button" value="subscribe"/></div>
							</form>
				</div><!-- end #footer-right -->
			</div>
			<div class="clear"></div>
			<div id="copyright">Copyright © 2011 <a href="#">Light House</a>. All Rights Reserved</div>
			<!-- end #foot -->
		</div><!-- end #centercolumn -->
		<div class="clear"></div>
	</div><!-- end #bottom-container -->
	
</body>
</html>
