<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<link rel="shortcut icon" href="images/content/favicon.ico" />
<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="robots" content="index, follow" />
<meta name="keywords" content="" />
<meta name="title" content="" />
<meta name="description" content="" />
<title>Lighthouse</title>
<link rel="shortcut icon" href="images/content/favicon.ico" />
<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/inner.css" rel="stylesheet" type="text/css" />
<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/PT_Sans_400.font.js"></script>
<script type="text/javascript">
	 Cufon.replace('h1') ('h2') ('h3') ('h4') ('h5') ('h6') ('.slider-button a') ('.slider-price') ('.button') ('#nav li a', {hover: true});
	 
</script>
<script type="text/javascript" src="js/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script> 
<script type="text/javascript"> 
 var $jts = jQuery.noConflict();
    $jts(document).ready(function(){ 
        $jts("ul.sf-menu").supersubs({ 
		minWidth		: 9,		// requires em unit.
		maxWidth		: 25,		// requires em unit.
		extraWidth		: 0			// extra width can ensure lines don't sometimes turn over due to slight browser differences in how they round-off values
                               // due to slight rounding differences and font-family 
        }).superfish();  // call supersubs first, then superfish, so that subs are 
                         // not display:none when measuring. Call before initialising 
                         // containing tabs for same reason. 
    }); 
 
</script>
<script type="text/javascript" src="js/jquery.cycle.all.min.js"></script>
<script type="text/javascript">
 var $jts = jQuery.noConflict();
    $jts(document).ready(function(){ 
		
		//Slider  
         $jts('#slideshow').cycle({
            timeout: 5000,  // milliseconds between slide transitions (0 to disable auto advance)
            fx:      'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...            
            pager:   '#pager',  // selector for element to use as pager container
            pause:   0,	  // true to enable "pause on hover"
            pauseOnPagerHover: 0 // true to pause when hovering over pager link
        });
     });
</script>

<!--[if IE 6]>
<script src="js/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('img');
</script>

<![endif]--> 
</head>
<body>

	<div id="top-container">
		<div class="centercolumn">
		<div id="header">
			<div id="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div><!-- end #logo -->
			<div id="navigation">
				<ul id="nav" class="sf-menu">
					<li><a href="index.html">Home</a></li>
					<li><a href="about.html"  class="current">About</a>
						<ul>
							<li><a href="styling.html">HTML Styling</a></li>
							<li><a href="column.html">Column Layouts</a></li>
							<li><a href="#">Example Dropdown</a>
								<ul>
									<li><a href="#">More Menu</a></li>
									<li><a href="#">More Menu</a></li>
									<li><a href="#">More Menu</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><a href="#">Property</a>
						<ul>
							<li><a href="property-list.html">Property List</a></li>
							<li><a href="property-grid.html">Property Grid</a></li>
							<li><a href="property-details.html">Property Details</a></li>
						</ul>
					</li>
					<li><a href="portfolio.html">Portfolio</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div><!-- end #navigation-->
			<div class="clr"></div>
		</div><!-- end #header -->
		</div><!-- end #centercolumn -->
	</div><!-- end #top-container -->
	
	
	<div class="centercolumn">
			
		<div id="maincontent">
			<div id="content">
                		<h1>This is a h1 tag</h1>

						<p> Morbi a eros sed nisi laoreet molestie. Nulla facilisi. Duis condimentum molestie lacus ac tincidunt. Cras rhoncus odio quis risus porta ullamcorper adipiscing nulla sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
						<h2>This is a h2 tag</h2>
						<p>Donec iaculis mollis mauris, quis molestie est condimentum a. Pellentesque eu sapien eu augue cursus porta. Integer vestibulum eleifend egestas. Cras placerat porttitor ipsum ac aliquet. Etiam aliquam scelerisque ligula, id cursus urna laoreet sagittis. </p>
						
						
						<h3>This is an h3 tag</h3>
						<p>Quisque facilisis erat a dui. Nam malesuada ornare dolor. Fusce et ipsum et nulla tristique facilisis. Donec eget sem sit amet ligula viverra gravida. Etiam vehicula urna vel turpis.</p>
						<h4>This is an h4 tag</h4>

						<p>Duis eu velit turpis. Duis ac ipsum sed metus feugiat sollicitudin. Nullam erat lacus, mattis et suscipit vitae, gravida in neque. Morbi luctus mauris id ante congue euismod.</p>
						<h5>This is an h5 tag</h5>
						
						<p>Fusce dictum fringilla porta. Duis scelerisque, est et vestibulum rhoncus, nisi tellus porta tellus, sit amet faucibus nisl nisl in est. Integer sit amet nibh ipsum.</p>
						
						
						<h6>This is an h6 tag</h6>
						<p>Suspendisse sagittis ante a urna. Morbi a est quis orci consequat rutrum. Nullam egestas feugiat felis. Integer adipiscing semper ligula.</p>
						<hr />

						<h2>Highlight</h2>
						<p><span class="highlight1">This is a highlight1 span class</span> Quisque gravida porttitor sodales. Mauris odio orci, vestibulum quis condimentum ac, vestibulum quis ipsum. Vivamus vulputate, metus non pulvinar commodo, enim odio tincidunt nunc, vel luctus mauris massa aliquet magna.   <span class="highlight2">This is a highlight2 span class.</span>  Morbi eros enim, tempor scelerisque dignissim id, hendrerit pulvinar tortor. </p>
						
						
						<hr />
						<h2>Unordered List</h2>
						<ul class="disc">

						  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
						  <li>Cras vitae ipsum eget mauris commodo viverra.</li>
						  <li>Donec sed nisl justo, ut scelerisque lacus.</li>
						  <li>Donec rhoncus mauris dapibus ante porta at ornare magna tincidunt.</li>
						
						
						  <li>Nam at ligula enim, vel commodo arcu.</li>
						  <li>Mauris tristique arcu at magna consequat fringilla.</li>

						  <li>Etiam eget dui a neque condimentum sodales a sed massa.</li>
						</ul>
						<hr />
						<h2>Ordered List</h2>
						<ol>
						
						
						  <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
						  <li>Cras vitae ipsum eget mauris commodo viverra.</li>

						  <li>Donec sed nisl justo, ut scelerisque lacus.</li>
						  <li>Donec rhoncus mauris dapibus ante porta at ornare magna tincidunt.</li>
						  <li>Nam at ligula enim, vel commodo arcu.</li>
						  <li>Mauris tristique arcu at magna consequat fringilla.</li>
						
						
						  <li>Etiam eget dui a neque condimentum sodales a sed massa.</li>
						</ol>

						<hr />
						<h2>Images in Paragraph</h2>
						<p><img src="images/content/tp-img.jpg" alt="" class="alignleft imgborder"/> Sed placerat libero quis metus malesuada venenatis. Proin vulputate, ligula id pellentesque laoreet, arcu odio tincidunt nunc, in dictum leo dui sed sapien. </p>
						<p>Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at. Morbi a eros sed nisi laoreet molestie. Nulla facilisi. Duis condimentum molestie lacus ac tincidunt.Morbi a eros sed nisi laoreet molestie. Nulla facilisi.Morbi a eros sed nisi laoreet molestie. Nulla facilisi.</p>
						
						
						<p><img src="images/content/tp-img.jpg" alt="" class="alignright imgborder" />Morbi a eros sed nisi laoreet molestie. Nulla facilisi. Duis condimentum molestie lacus ac tincidunt. Cras rhoncus odio quis risus porta ullamcorper adipiscing nulla sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam in metus ligula, et ullamcorper odio. </p>
						<p>Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. </p>

						<hr />
						<h2>Blockquotes</h2>
						<blockquote class="alignright"><p>Sed placerat libero quis metus malesuada venenatis. Proin vulputate, ligula id pellentesque laoreet.  </p>
						</blockquote>
						<p>This is a blockquote. Donec iaculis mollis mauris. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br />

											Nullam dignissim convallis est. Aenean mattis lacus ut dui hendrerit euismod consequat tortor volutpat.  </p>
						<p> Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>
						<blockquote class="alignleft"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. </p>
						
						
						</blockquote>
						<p>Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl.</p>
						<blockquote><p>Cras vitae congue arcu. Sed iaculis, purus quis imperdiet laoreet, dui arcu vulputate urna, non molestie enim tellus a metus. Pellentesque ac tortor ac quam hendrerit pharetra.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. </p>

						
						</blockquote >
						<p>Vivamus placerat cursus lorem, id mollis enim cursus quis. Pellentesque ac tortor ac quam hendrerit pharetra. Integer turpis eros, vulputate et pellentesque rhoncus, tincidunt sodales est. Aliquam volutpat egestas leo vitae pretium. Sed et urna nisi, aliquet faucibus magna. </p>
						
						<hr />
						<h2>Dropcaps</h2>
						<p><span class="dropcap1">A</span>orem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. This is a blockquote. Aenean arcu elit, tristique semper pulvinar adipiscing.  Donec faucibus. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. </p>
						<p><span class="dropcap2">B</span>aesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. </p>
						<p><span class="dropcap3">C</span>aesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. </p>
						
						
						<hr />
						<h2>Code</h2>
						
						
						<p>Vivamus placerat cursus lorem, id mollis enim cursus quis. Pellentesque ac tortor ac quam hendrerit pharetra. Integer turpis eros, vulputate et pellentesque rhoncus, tincidunt sodales est. Aliquam volutpat egestas leo vitae pretium. Sed et urna nisi, aliquet faucibus magna. </p>
						<p>					<code>&lt;?php echo('Hello world!'); ?&gt;</code></p>

						<hr />
						<h2>Tables</h2>
						<table>
						<tbody>
						<tr>
						
						
						
						<th>Header 1</th>
						<th>Header 2</th>

						<th>Header 3</th>
						<th>Header 4</th>
						<th>Header 5</th>
						</tr>
						
						
						<tr>
						<td>Division 1</td>
						<td>Division 2</td>

						<td>Division 3</td>
						
						<td>Division 4</td>
						<td>Division 5</td>
						
						
						</tr>
						<tr class="even">
						<td>Division 1</td>
						<td>Division 2</td>

						<td>Division 3</td>
						<td>Division 4</td>
						<td>Division 5</td>
						
						
						</tr>
						
						<tr>
						<td>Division 1</td>
						<td>Division 2</td>

						<td>Division 3</td>
						<td>Division 4</td>
						<td>Division 5</td>
						
						
						</tr>
						<tr class="even">
						<td>Division 1</td>
						<td>Division 2</td>

						
						<td>Division 3</td>
						<td>Division 4</td>
						<td>Division 5</td>
						
						
						</tr>
						<tr>
						<td>Division 1</td>
						<td>Division 2</td>

						<td>Division 3</td>
						<td>Division 4</td>
						<td>Division 5</td>
						
						
						
						</tr>
						</tbody>
						</table>
				</div><!-- end #content -->
			
			<div class="sidebar_right">
			<div class="sidebar">
				<ul>
					<li class="widget-container widget_text">
						<h2 class="widget-title">Our Capabilities</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at magna ornare justo pharetra congue sed et elit. Nunc lacinia ultricies iaculis.
						
						Aenean vulputate facilisis urna et adipiscing. In sollicitudin tellus sit amet dolor fringilla ullamcorper. 
						</p>
						<ul>
							<li><a href="#">Resources</a></li>
							<li><a href="#">House Remodeling</a></li>
							<li><a href="#">Luxury Homes</a></li>
							<li><a href="#">Find a Contractor</a></li>
						</ul>
					</li>

					<li class="widget-container">
						<h2 class="widget-title">Our Improving</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean at magna ornare justo pharetra congue sed et elit. Nunc lacinia ultricies iaculis.</p>
					</li>
				</ul>
            </div><!-- end #sidebar -->
			</div><!-- end #sidebar_right -->
			
			<div class="clear"></div>
		</div><!-- end #maincontent -->
	</div><!-- end #centercolumn -->
	
	
	<div id="bottom-container">
		<div class="centercolumn">
		
			<div id="footer">
				<div id="footer-left">
					<div class="one_fourth">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">Company</h2>
								<ul>
									<li><a href="#">About Us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Clients</a></li>
									<li><a href="#">Presentation</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
					<div class="one_fourth">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">For Clients</h2>
								<ul>
									<li><a href="#">Sign Up </a></li>
									<li><a href="#">Forum</a></li>
									<li><a href="#">Promitions</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
					<div class="one_fourth">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">FAQs</h2>
								<ul>
									<li><a href="#">Support </a></li>
									<li><a href="#">FAQs</a></li>
									<li><a href="#">Website</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
					<div class="one_fourth last">
						<ul>
							<li class="widget-container">
								<h2 class="widget-title">Properties</h2>
								<ul>
									<li><a href="#">Luxury</a></li>
									<li><a href="#">Residental</a></li>
									<li><a href="#">Commercial</a></li>
									<li><a href="#">Hometown</a></li>
								</ul>
							</li>
						</ul>
					</div><!-- end #one_fourth -->
				</div><!-- end #footer-left -->
				<div id="footer-right">
							<h2>NewsLetter Sign Up:</h2>
							<form  method="get" action="" id="newsLetter">
							<div><input type="text" class="inputbox" value="Enter your email here..." onblur="if (this.value == ''){this.value = 'Enter your email here...'; }" onfocus="if (this.value == 'Enter your email here...') {this.value = ''; }"/><br />
<input type="submit" name="submit" class="button" value="subscribe"/></div>
							</form>
				</div><!-- end #footer-right -->
			</div>
			<div class="clear"></div>
			<div id="copyright">Copyright © 2011 <a href="#">Light House</a>. All Rights Reserved</div>
			<!-- end #foot -->
		</div><!-- end #centercolumn -->
		<div class="clear"></div>
	</div><!-- end #bottom-container -->
	<script type="text/javascript"> Cufon.now(); </script> <!-- to fix cufon problems in IE browser -->
</body>
</html>
